<%- include('../layouts/header') %>
<%- include('../layouts/nav', {pages: pages}) %>
<h1>Login</h1>
<form action="/admin/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>

<% if(typeof error !== 'undefined' ){ %>
    <p class="<%= error[1] %>" > <%= error[0] %> </p>
<% } %>

<%- include('../layouts/footer') %>